$brickwidth: 130px;
$contentwidth: 7*$brickwidth+16px;
$contentmarginleft: 100px;

.draggable {
  width: $brickwidth;
  height: 20px;
  padding:0;
  background: blue;
}

#bricks {
  position: absolute;
  left: $contentmarginleft+$contentwidth+50px;
}

table#bricks tr td {
  background: lightyellow;
  width:$brickwidth;
  height: 20px;
}

table#slots {
  border-collapse: collapse;
  background-color:black;
}

table#slots, table#slotsexplanation {
  margin-top: 20px;

  tr td, tr th {
    width:$brickwidth;
    height: 20px;
    padding:0;
  }

  tr th {
    background-color:white;
  }

  tr td {
  background-color: #FFDAB9;
  border: 2px solid black;
  }

  tr th.negative {
    color: red;
  }
}

table#slotsexplanation {
  tr th {
    padding:10px;
  }
} 

table#slots tr th, table#explanation_table tr th, table#slotsexplanation tr th {
  text-align: center;
  font-size: 12pt;
  font-weight: normal;
}

table#explanation_table {
  tr td {
    width: $brickwidth;
    background-color: silver;
    height: $brickwidth*2/3;
    text-align: center;
    vertical-align: center;
    font-size:1.5em;
    font-weight: bold;
    line-height: 1.25em;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  tr td#shiftbin {
    background-color: #999;
  }

  margin-bottom: 20px;
}


table#slots tr td.occupado {
  background: yellow;
}

table#slots tr td.dax-occupied {
  background: #666;
}

