// Place all the styles related to the experiment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$brickwidth: 130px;
$contentwidth: 7*$brickwidth+16px;
$contentmarginleft: 100px;


html {
  background-color: #EEE;
  font-family: Arial, sans-serif;
  font-size: 12pt;
  line-height: 1.5em;
  color: #000;
  text-align: left;
  width: 100%;
  margin:0;
  padding:0;
}

#content {
  width: $contentwidth;
  margin: 20px 0 0 $contentmarginleft;
  background-color: white;
  padding: 10px 20px;
  -moz-box-shadow: 0px 0px 37px #000000;
-webkit-box-shadow: 0px 0px 37px #000000;
box-shadow: 1px 1px 37px #000000;
-webkit-border-radius: 30px 0px 0px 0px;
border-radius: 30px 0px 0px 0px;
}

.submitcountainer {
  width: 380px;
  margin: 3em auto 1em auto;
  overflow: hidden;   
  text-align: center;
  clear:both;
 
  input[type="submit"] {
    width: 150px;
    padding: 7px 0;
    margin: 0 20px;
    display: inline-block;  
    vertical-align: middle;  
    font-size: 16pt;
    font-weight: bold;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 600;
  }
}

// FIXME: necessary?
th input[type="text"] {
  width: 90%;
  font-size: 13pt;
  font-weight: bold;
}

input[type="text"] {
  width: 70px;
  font-size: 16pt;
  font-weight: bold;
  text-align: right;
}

.correctsum {
  background-color: lightgreen;
}

hr {
  width: 100%;
  margin-left: 0;
}

#error_explanation {
  border: 1px solid red;
  width:100%;
  -webkit-border-radius: 30px 0px 0px 0px;
  border-radius: 30px 0px 0px 0px;


  h2 {
    background-color: red;
    color: white;
    margin:0;
    padding: 0.5em 0.5em;
    -webkit-border-radius: 30px 0px 0px 0px;
    border-radius: 30px 0px 0px 0px;
  }

  ul {
    margin: 1em;
    padding: 1em;

    li {
      list-style-type: disc;
    }
  }
}

.field_with_errors {
  background-color: red;
  display: table;
  padding: 2px;
}

select {
  width: 100%;
  font-family: monospace;
  font-size:11px;
}

h1 {
  text-align: left;
  line-height: 1.2em;
}

textarea {
  width: 100%;
}


// --------------------------------
// Questions
// --------------------------------

$likertitemwidth: 25px;
$endlabelwidth: 100px;
$endlabelpadding: 20px;
$likertwidth: 11*$likertitemwidth + 2*($endlabelwidth+$endlabelpadding);

$tableheadercolor: #B2B29D;
$alternatingtablecolor1: #E6E6CA;
$alternatingtablecolor2: #CCCCB3;

div.question {
  overflow: hidden;
  margin-bottom: 20px;
}

body {
  counter-reset: question;
}

p.question:before {
    content: counter(question) ". ";
    counter-increment: question;
    display: inline;
}

p.question {
  font-weight: bold;
}

p.explanation {
  padding-left: 50px;
  font-style: italic;
  background-image: url('pointing-hand.gif');
  background-repeat: no-repeat;
  background-position: 0px 5px;
}

.instrument {
  margin: 20px auto 20px auto;
}

ul.instrument {
  list-style-type: none;
}

ul.likert
{
  list-style-type: none;
  padding: 0;
  width: $likertwidth;

  li
  {
    float: left;
    text-align: center;
    list-style-type: none;
    width: $likertitemwidth;

    label {
      display: block;
    }
  }

  li.leftendlabel, li.rightendlabel {
    font-weight: bold;
    width: 100px;
  }

  li.leftendlabel {
    padding-right: $endlabelpadding;
  }

  li.rightendlabel {
    padding-left: $endlabelpadding;
  }
}

.radio_list {
  li input[type="radio"] {
    margin-right: 20px;
  }
}

.text_field {
  
}

@mixin alternatingtable {
  tr th {
    background-color: $tableheadercolor;
    padding: 5px;
  }

  tr td {
    background-color: $alternatingtablecolor1;
    padding: 5px;
  }

  tr:nth-child(2n) td {
    background-color: $alternatingtablecolor2;
  }
}

.radio_table {
  width:$contentwidth;

  tr td:nth-child(1) {
    width:300px;
    text-align: left;
  }
  
  @include alternatingtable;

  tr th, tr td {
    text-align: center;
    vertical-align: top;
  }
}

.text_field_table {
  width:$contentwidth;

  tr td:nth-child(1) {
    text-align: left;
  }

  tr td:nth-child(2) {
    width:200px;
    text-align: left;

    input[type="text"] {
      width:150px;
    }
  }

  @include alternatingtable;
}

div.hidden {
  display:none;
}

.textarea textarea {
  height: 200px;
}

div#review {
  border: 1px solid black;
  padding: 0 20px;
  -webkit-border-top-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#instrumentexplanation {
  opacity:0;
}

ul#probexplanation li {
  padding-top:0;
  padding-bottom:0;
  margin-top:0;
  margin-bottom:0;
}

ul#probexplanation {
  margin-top: 0;
}

p.tips {
  color: blue;
  font-style: italic;
}

p.tips:before
{ 
  content:"--> ";
  color: blue;
  font-style: italic;
}

table#calcs {
  border-collapse: collapse;
  width: 100%;

  th, td {
    border: 1px solid black;
    text-align: right;
  }

  tr > th:first-child, tr > td:first-child {
    text-align: left;
  }

  .noborder {
    border-width: 0;
  }
}