* {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

#content {
  width: 750px;
  height: 600px;
  margin: 50px auto 50px auto;
}

.submitcontainer {
  width: 600px;
  margin: 50px auto;
  text-align: center;
}

input[type=text] {
  text-align: right;
}

h1 {
  font-size: 1.75em;
}

table.form_table {
  margin: 30px auto 0 auto;
}

.overview_box_container {
  margin-bottom: 20px;
  overflow: hidden;
}

.note {
  font-style: italic;
}

.overview_box {
  width:22%;
  float: left;
  height: 200px;
  border: 1px solid black;
  margin: 10px;
  padding:0;
  text-align: center;
  border-radius: 10px;

  .box_header {
    display: block;
    height: 80px;
    background-color: lightgrey;
    overflow: hidden;
  border-radius: 10px;
  }

  h2, h3 {
    display: block;
    width: 100%;
    margin: 0;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1em;
  }

  .number {
    text-align: center;
    font-size: 2.5em;
    margin: 20px 0;
  }

  .bonus {
    color: #008500;
  }

  .malus {
    color: #A60000;
  }

  .bottom {
    text-align: center;
    font-size: 1.2em
  }

  .fund, .bund, .euros {
    background-size: 100%;
    color: black;
    // color: white;
  }

  // .fund {
  //   background-image: url('images/dax.jpg');
  //   background-position: 0 -40px;
  // }

  // .bund {
  //   background-image: url('images/bundesanleihe.jpg');
  //   background-position: 0 -5px;
  // }

  // .euros {
  //   background-image: url('images/euros.jpg');
  //   background-position: 0 -5px;
  // }
}

.question {
  font-weight: bold;
  font-size: 1.2em;
}


table#calcs {
  border-collapse: collapse;
  width: 100%;

  th, td {
    border: 1px solid black;
    text-align: right;
  }

  th {
    text-align: center;
  }

  td {
    text-align: right;
  }

  tr > th:first-child, tr > td:first-child {
    text-align: left;
  }

  .noborder {
    border-width: 0;
  }
}
