.draggable {
  width: 130px;
  height: 20px;
  padding: 0;
  background: blue; }

  #bricks {
    position: absolute;
    left: 1076px; }

    table#bricks tr td {
      background: lightyellow;
      width: 130px;
      height: 20px; }

      table#slots {
        border-collapse: collapse;
        background-color: black; }

        table#slots, table#slotsexplanation {
          margin-top: 20px; }
          table#slots tr td, table#slots tr th, table#slotsexplanation tr td,
          table#slotsexplanation tr th {
            width: 130px;
            height: 20px;
            padding: 0; }
            table#slots tr th, table#slotsexplanation tr th {
              background-color: white; }
              table#slots tr td, table#slotsexplanation tr td {
                background-color: #FFDAB9;
                border: 2px solid black; }
                table#slots tr th.negative, table#slotsexplanation tr th.negative {
                  color: red; }

table#slotsexplanation tr th {
  padding: 10px; }

table#slots tr th, table#explanation_table tr th, table#slotsexplanation tr th {
  text-align: center;
  font-size: 12pt;
  font-weight: normal; }

  table#explanation_table {
    margin-bottom: 20px; }
    table#explanation_table tr td {
      width: 130px;
      background-color: silver;
      height: 86.66667px;
      text-align: center;
      vertical-align: center;
      font-size: 1.5em;
      font-weight: bold;
      line-height: 1.25em;
      -webkit-border-top-left-radius: 10px;
      -webkit-border-top-right-radius: 10px;
      -moz-border-radius-topleft: 10px;
      -moz-border-radius-topright: 10px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
      table#explanation_table tr td#shiftbin {
        background-color: #999; }

table#slots tr td.occupado {
  background: yellow; }

  table#slots tr td.dax-occupied {
    background: #666; }
