ul.flashes {
  border: 1px solid black;
  padding: 20px; }

  ul.flashes li {
    margin: 0 20px; }

    ul.flashes li.form_error {
      color: red; }

      ul.flashes li.message {
        color: orange; }
