html {
  background-color: #EEE;
  font-family: Arial, sans-serif;
  font-size: 12pt;
  line-height: 1.5em;
  color: #000;
  text-align: left;
  width: 100%;
  margin: 0;
  padding: 0; }

  #content {
    width: 926px;
    margin: 20px 0 0 100px;
    background-color: white;
    padding: 10px 20px;
    -moz-box-shadow: 0px 0px 37px #000000;
    -webkit-box-shadow: 0px 0px 37px #000000;
    box-shadow: 1px 1px 37px #000000;
    -webkit-border-radius: 30px 0px 0px 0px;
    border-radius: 30px 0px 0px 0px; }

    .submitcountainer {
      width: 380px;
      margin: 3em auto 1em auto;
      overflow: hidden;
      text-align: center;
      clear: both; }
      .submitcountainer input[type="submit"] {
        width: 150px;
        padding: 7px 0;
        margin: 0 20px;
        display: inline-block;
        vertical-align: middle;
        font-size: 16pt;
        font-weight: bold;
        font-family: "Open Sans", Arial, sans-serif;
        font-weight: 600; }

th input[type="text"] {
  width: 90%;
  font-size: 13pt;
  font-weight: bold; }

  input[type="text"] {
    width: 70px;
    font-size: 16pt;
    font-weight: bold;
    text-align: right; }

    .correctsum {
      background-color: lightgreen; }

      hr {
        width: 100%;
        margin-left: 0; }

        #error_explanation {
          border: 1px solid red;
          width: 100%;
          -webkit-border-radius: 30px 0px 0px 0px;
          border-radius: 30px 0px 0px 0px; }
          #error_explanation h2 {
            background-color: red;
            color: white;
            margin: 0;
            padding: 0.5em 0.5em;
            -webkit-border-radius: 30px 0px 0px 0px;
            border-radius: 30px 0px 0px 0px; }
            #error_explanation ul {
              margin: 1em;
              padding: 1em; }
              #error_explanation ul li {
                list-style-type: disc; }

.field_with_errors {
  background-color: red;
  display: table;
  padding: 2px; }

  select {
    width: 100%;
    font-family: monospace;
    font-size: 11px; }

    h1 {
      text-align: left;
      line-height: 1.2em; }

      textarea {
        width: 100%; }

        div.question {
          overflow: hidden;
          margin-bottom: 20px; }

          body {
            counter-reset: question; }

            p.question:before {
              content: counter(question) ". ";
              counter-increment: question;
              display: inline; }

              p.question {
                font-weight: bold; }

                p.explanation {
                  padding-left: 50px;
                  font-style: italic;
                  background-image: url('pointing-hand.gif');
                  background-repeat: no-repeat;
                  background-position: 0px 5px; }

                  .instrument {
                    margin: 20px auto 20px auto; }

                    ul.instrument {
                      list-style-type: none; }

                      ul.likert {
                        list-style-type: none;
                        padding: 0;
                        width: 515px; }
                        ul.likert li {
                          float: left;
                          text-align: center;
                          list-style-type: none;
                          width: 25px; }
                          ul.likert li label {
                            display: block; }
                        ul.likert li.leftendlabel, ul.likert li.rightendlabel {
                          font-weight: bold;
                          width: 100px; }
                          ul.likert li.leftendlabel {
                            padding-right: 20px; }
                            ul.likert li.rightendlabel {
                              padding-left: 20px; }

.radio_list li input[type="radio"] {
  margin-right: 20px; }

.radio_table {
  width: 926px; }
  .radio_table tr td:nth-child(1) {
    width: 300px;
    text-align: left; }
    .radio_table tr th {
      background-color: #B2B29D;
      padding: 5px; }
      .radio_table tr td {
        background-color: #E6E6CA;
        padding: 5px; }
        .radio_table tr:nth-child(2n) td {
          background-color: #CCCCB3; }
          .radio_table tr th, .radio_table tr td {
            text-align: center;
            vertical-align: top; }

.text_field_table {
  width: 926px; }
  .text_field_table tr td:nth-child(1) {
    text-align: left; }
    .text_field_table tr td:nth-child(2) {
      width: 200px;
      text-align: left; }
      .text_field_table tr td:nth-child(2) input[type="text"] {
        width: 150px; }
  .text_field_table tr th {
    background-color: #B2B29D;
    padding: 5px; }
    .text_field_table tr td {
      background-color: #E6E6CA;
      padding: 5px; }
      .text_field_table tr:nth-child(2n) td {
        background-color: #CCCCB3; }

div.hidden {
  display: none; }

  .textarea textarea {
    height: 200px; }

    div#review {
      border: 1px solid black;
      padding: 0 20px;
      -webkit-border-top-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px; }

      #instrumentexplanation {
        opacity: 0; }

        ul#probexplanation li {
          padding-top: 0;
          padding-bottom: 0;
          margin-top: 0;
          margin-bottom: 0; }

          ul#probexplanation {
            margin-top: 0; }

            p.tips {
              color: blue;
              font-style: italic; }

              p.tips:before {
                content: "--> ";
                color: blue;
                font-style: italic; }

                table#calcs {
                  border-collapse: collapse;
                  width: 100%; }
                  table#calcs th, table#calcs td {
                    border: 1px solid black;
                    text-align: right; }
                    table#calcs tr > th:first-child, table#calcs tr > td:first-child {
                      text-align: left; }
                      table#calcs .noborder {
                        border-width: 0; }
