* {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }

  #content {
    width: 750px;
    height: 600px;
    margin: 50px auto 50px auto; }

    .submitcontainer {
      width: 600px;
      margin: 50px auto;
      text-align: center; }

      input[type=text] {
        text-align: right; }

        h1 {
          font-size: 1.75em; }

          table.form_table {
            margin: 30px auto 0 auto; }

            .overview_box_container {
              margin-bottom: 20px;
              overflow: hidden; }

              .note {
                font-style: italic; }

                .overview_box {
                  width: 22%;
                  float: left;
                  height: 200px;
                  border: 1px solid black;
                  margin: 10px;
                  padding: 0;
                  text-align: center;
                  border-radius: 10px; }
                  .overview_box .box_header {
                    display: block;
                    height: 80px;
                    background-color: lightgrey;
                    overflow: hidden;
                    border-radius: 10px; }
                    .overview_box h2, .overview_box h3 {
                      display: block;
                      width: 100%;
                      margin: 0; }
                      .overview_box h2 {
                        font-size: 1.4em; }
                        .overview_box h3 {
                          font-size: 1em; }
                          .overview_box .number {
                            text-align: center;
                            font-size: 2.5em;
                            margin: 20px 0; }
                            .overview_box .bonus {
                              color: #008500; }
                              .overview_box .malus {
                                color: #A60000; }
                                .overview_box .bottom {
                                  text-align: center;
                                  font-size: 1.2em; }
                                  .overview_box .fund, .overview_box .bund, .overview_box .euros {
                                    background-size: 100%;
                                    color: black; }

.question {
  font-weight: bold;
  font-size: 1.2em; }

  table#calcs {
    border-collapse: collapse;
    width: 100%; }
    table#calcs th, table#calcs td {
      border: 1px solid black;
      text-align: right; }
      table#calcs th {
        text-align: center; }
        table#calcs td {
          text-align: right; }
          table#calcs tr > th:first-child, table#calcs tr > td:first-child {
            text-align: left; }
            table#calcs .noborder {
              border-width: 0; }
