<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Finanzentscheidungsexperiment{% endblock %}</title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
  {% if not 'design' in session %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='%s.css' % session['design']) }}">
  {% endif %}
  <script>
    function click(e) {
    if (event.button == 2) {
      alert('Keine Rechts-Klicks erlaubt')
      return false;
    }
  };
  document.onmousedown=click;
  $(document).ready(function () {
    $('input.disablecopypaste').bind('copy paste', function (e) {
       e.preventDefault();
    });
  });
  </script>
  {% block custom_head %}{% endblock %}
</head>
<body>
  {% block form_tag %}
  <form method="post" action='/experiment'>
  {% endblock %}
  <div id="content">
  {% block content %}
    {% block messages %}
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
          <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
    {% endblock %}
    <div id="instructions">
    {% block instructions %}

    {% endblock %}
    </div>
    {% block backcontinue %}
    <div class="submitcontainer">
        <input type="submit" value="Weiter"></input>
    </div>
    {% endblock %}
  {% endblock %}
  </div>
  </form>
</body>