{% extends "base.html" %}

{% block instructions %}
<h1>Das war's. Vielen Dank f&uuml;r Ihre Teilnahme!</h1>

<p>Der Computer hat per Zufall bestimmt, dass Ihnen ihre Investition aus Runde {{ random_step_index }} ausbezahlt wird. In dieser Runde haben Sie {{ random_step_observation.inv_riskless|format_number }} EUR in die Bundesanleihe und {{ random_step_observation.inv_risky|format_number }} EUR in den DAX investiert. Der {{ 'Bonus' if random_step.treatment.shifter_riskless>=0 else 'Malus'}} auf den Zins der Bundesanleihe betrug in dieser Runde {{random_step.treatment.shifter_riskless|abs|format_decimal}} Prozentpunkte, der {{ 'Bonus' if random_step.treatment.shifter_risky>=0 else 'Malus'}} auf den DAX betrug {{ random_step.treatment.shifter_risky|abs|format_decimal }} Prozentpunkte.</p>

<p>Der Computer hat außerdem per Zufall das Jahr {{ random_year.year }} ausgew&auml;hlt. In diesem Jahr hat der DAX einen {{ 'Gewinn' if random_year.dax_nom>=0 else 'Verlust' }} von {{ (random_year.dax_nom*100)|abs|format_decimal }}% gemacht.</p>


<p>Wir zahlen Ihnen deshalb auf Basis ihrer Investition {{ (total_payout/4000)|round(0,'ceil')|int }} EUR aus, die sich wie folgt berechnen:</p>

<table id="calcs">
	<tr>
		<th>Anlage</th>
		<th>investierter Betrag</th>
		<th>Gewinn/Verlust</th>
		<th>Bonus/Malus</th>
		<th>Gewinn/Verlust insgesamt</th>
		<th>Auszahlung</th>
	</tr>
	<tr>
		<td>Bundesanleihe</td>
		<td>{{ random_step_observation.inv_riskless|format_number }} EUR</td>
		<td>{{riskless_rate}} %</td>
		<td>{{ random_step.treatment.shifter_riskless|format_decimal }} %</td>
		<td>{{ (random_step.treatment.shifter_riskless+riskless_rate)|format_decimal }} %</td>
		<td>{{ (random_step_observation.inv_riskless*(1+riskless_rate/100+random_step.treatment.shifter_riskless/100))|format_number }} EUR</td>
	</tr>
	<tr>
		<td>DAX</td>
		<td>{{ random_step_observation.inv_risky|format_number }} EUR</td>
		<td>{{ (random_year.dax_nom*100)|format_decimal }} %</td>
		<td>{{ random_step.treatment.shifter_risky|format_decimal }} %</td>
		<td>{{ (random_year.dax_nom*100+random_step.treatment.shifter_risky)|format_decimal }} %</td>
		<td>{{ (random_step_observation.inv_risky*(1+random_year.dax_nom+random_step.treatment.shifter_risky/100))|format_number }} EUR</td>
		</td>
	</tr>
	<tr>
		<td colspan="4" class="noborder"></td>
		<td>Zusätzliche Zahlung</td>
		<td>{{ random_step.treatment.endowment_illiquid|format_number }} EUR</td>
	</tr>
	<tr>
		<td colspan="4" class="noborder"></td>
		<td>Summe</td>
		<td>{{ total_payout|format_number }} EUR</td>
	</tr>
	<tr>
		<td colspan="5" class="noborder" style="height:30px;"></td>
	</tr>
	<tr>
		<td colspan="4" class="noborder"></td>
		<td>Summe / {{ 4000 }}</td>
		<td><b>{{ (total_payout/4000)|format_decimal }} EUR</b></td>
	</tr>

	<tr>
		<td colspan="4" class="noborder"></td>
		<td><b>Auszahlung</b><br /> (auf den n&auml;chsten EUR gerundet)</td>
		<td><b>{{ (total_payout/4000)|round(0,'ceil')|int }} EUR</b></td>
	</tr>
</table>

<p>Bitte bleiben Sie noch einen Moment sitzen. Sobald die gro&szlig;e Mehrzahl der Teilnehmer das Experiment abgeschlossen hat, werden wir mit der Auszahlung beginnen.</p>

{% endblock %}

{% block backcontinue %}
{% endblock %}