{% extends "base.html" %}

{% block instructions %}
<h1>Willkommen!</h1>

<p>Im Folgenden bitten wir Sie, an einem Finanzentscheidungsexperiment teilzunehmen.</p>

<p>Abh&auml;ngig von Ihrer Entscheidung und zuf&auml;lligen Faktoren, bekommen Sie am Ende der Befragung einen Geldbetrag tats&auml;chlich ausbezahlt. Sie k&ouml;nnen dabei auf keinen Fall Geld verlieren.</p>

<p>Es ist wichtig, dass Sie w&auml;hrend des Experiments still bleiben und nicht mit anderen Teilnehmern kommunizieren. Sollten Sie Fragen haben oder Hilfe brauchen, dann heben Sie bitte die Hand, und ein Experimentator wird zu Ihnen kommen. Sollten Sie sich nicht an diese Anweisung halten, so m&uuml;ssen wir Sie vom Experiment ausschlie&szlig;en. Vielen Dank.</p>
{% endblock %}

{% block form_tag %}
<form method="post" action='/login'>
{% endblock %}