{% extends "base.html" %}

{% block instructions %}
<p>Wie Sie wissen, h&auml;ngt die Verzinsung des Fonds von der Entwicklung des DAX in den Jahren 1951 bis 2010 ab.<br /> 
Im Folgenden wollen wir Sie fragen, wie Sie die Gewinne und Verluste des DAX in diesem Zeitraum einsch&auml;tzen.</p>
<p>Hierf&uuml;r fassen wir auf dem n&auml;chsten Bildschirm die m&ouml;glichen Gewinne und Verluste in den folgenden sieben Bereichen zusammen:</p>

<table id="slotsexplanation">
  <tr>
    <th>Verlust zwischen <br /> 60% und 90%</th>
    <th>Verlust zwischen <br /> 30% und 60%</th>
    <th>Verlust zwischen <br /> 0% und 30%</th>
    <th>Gewinn zwischen <br /> 0% und 30%</th>
    <th>Gewinn zwischen <br /> 30% und 60%</th>
    <th>Gewinn zwischen <br /> 60% und 90%</th>
    <th>Gewinn zwischen <br /> 90% und 120%</th>
  </tr>
</table>

<p>&Uuml;ber den sieben Bereichen befinden sich auf dem n&auml;chsten Schirm je 20 K&auml;stchen. Zeigen Sie uns f&uuml;r diese sieben Bereiche an, wie h&auml;ufig Sie den DAX im jeweiligen Bereich vermuten, indem Sie die K&auml;stchen &uuml;ber den sieben Bereichen anklicken.<br />
Markieren Sie genau 20 K&auml;stchen. Ein K&auml;stchen steht f&uuml;r eine H&auml;ufigkeit von 1 zu 20, also 5 Prozent.</p>
<p style='margin-bottom:0;padding-bottom:0;'>Durch das Markieren der K&auml;stchen zeigen Sie uns Einsch&auml;tzung dar&uuml;ber, wie h&auml;ufig der DAX in den Jahren 1951-2010 einen Verlust bzw. Gewinn in dem entsprechenden Bereich erzielt, an.</p>
<ul id='probexplanation'>
	<li>Markieren Sie beispielsweise in einem Bereich gar kein K&auml;stchen, so bringen Sie damit zum Ausdruck, dass Sie sich sicher sind, dass der Verlust oder Gewinn des DAX nie in diesem Bereich lag.</li>
	<li>Markieren Sie ein oder zwei K&auml;stchen in einem Bereich, so halten Sie einen Verlust oder Gewinn in diesem Bereich f&uuml;r m&ouml;glich aber nicht sehr wahrscheinlich.</li>
	<li>Mehr K&auml;stchen - bis zu 20 in einem Bereich - stehen f&uuml;r entsprechend h&ouml;here Wahrscheinlichkeiten.</li>
</ul>
{% endblock %}