{% extends "base.html" %}

{% block instructions %}
<p>Ein Beispiel k&ouml;nnte wie folgt aussehen. Sie haben 50.000 Euro, die Sie auf Bundesanleihe und Fonds aufteilen m&uuml;ssen und eine Auszahlung von 14.000 Euro, die Sie unabh&auml;ngig von Ihrer Entscheidung bekommen. Auf den Zins der Bundesanleihe erhalten Sie einen Bonus von 2 Prozentpunkten.</p>

<p>Konkret bedeutet das in diesem Beispiel, dass Sie f&uuml;r den Betrag, den Sie in die Bundesanleihe investieren, einen Zins von {{riskless_rate+2}}% erhalten: die stets gleichen {{riskless_rate}}% zuz&uuml;glich des in dieser Runde relevanten Bonus von 2%. Sie machen also f&uuml;r jede 100 Euro, die Sie in die Bundesanleihe investiert haben, einen Gewinn von {{riskless_rate+2}} Euro, und bekommen am Ende {{100+riskless_rate+2}} Euro ausgezahlt.<br />
Die Verzinsung des in den Fonds investierten Betrags wird in diesem Beispiel wie folgt bestimmt: Sie ist einfach die realisierte Kursentwicklung des DAX in einem zuf&auml;llig gezogenen Jahr (aus 1951 bis 2010).</p>
<ul>
	<li>Hat also der DAX zum Beispiel in dem zuf&auml;llig gezogenen Jahr einen Gewinn von 3,5% gemacht, erhalten Sie auf den Betrag, den Sie in den Fonds investiert haben, eine Verzinsung von 3,5%. Sie machen also f&uuml;r jede 100 Euro, die Sie in den Fonds investiert haben, einen Gewinn von 3,50 Euro, und bekommen am Ende 103,50 Euro ausgezahlt.</li>
	<li>Hat der DAX dagegen im zuf&auml;llig gezogenen Jahr einen Gewinn von 12% gemacht, erhalten Sie auf Ihren investierten Betrag eine Verzinsung von 12% (mit 12 Euro Auszahlung pro 100 Euro Investition).</li>
	<li>Hat der DAX im zuf&auml;llig gezogenen Jahr einen Verlust von 12% gemacht, so erhalten Sie eine negative Verzinsung. In diesem Fall w&uuml;rden Sie f&uuml;r jede 100 Euro Investition eine Auszahlung von 88 Euro bekommen.</li>
</ul>

<p>Ihre Gesamtauszahlung ergibt sich in diesem Beispiel als 14.000 Euro (die feste Auszahlung) plus die verzinste Investition in die Bundesanleihe plus die verzinste Investition in den Fonds.</p>

<p>(Das Beispiel ist nat&uuml;rlich willk&uuml;rlich und sagt nichts &uuml;ber die tats&auml;chliche Entwicklung des DAX oder &uuml;ber andere unbekannten Gr&ouml;&szlig;en aus.)</p>
{% endblock %}