{% extends "base.html" %}

{% block instructions %}
	{{ form.hidden_tag() }}

	<h1>Runde {{ current_step_index }}</h1>

	<p>Sie haben {{ treatment.endowment_liquid|format_number }} Euro, die Sie zwischen der Bundesanleihe und dem Fonds aufteilen m&uuml;ssen. Unabh&auml;ngig von Ihrer Entscheidung erhalten Sie zus&auml;tzlich einen Betrag von {{ treatment.endowment_illiquid|format_number }} Euro.</p>
	{% if treatment.shifter_riskless!=0 %}
		<p>F&uuml;r die Bundesanleihe gibt es einen {{ 'Bonus' if treatment.shifter_riskless>=0 else 'Malus'}} von {{treatment.shifter_riskless|abs|format_decimal}} Prozentpunkten.</p>
	{% else %}
		<p>F&uuml;r die Bundesanleihe gibt es weder Bonus noch Malus.</p>
	{% endif %}

	{% if treatment.shifter_risky!=0 %}
		<p>F&uuml;r den Fonds gibt es einen {{ 'Bonus' if treatment.shifter_risky>=0 else 'Malus'}} von {{treatment.shifter_risky|abs|format_decimal}} Prozentpunkten.</p>
	{% else %}
		<p>F&uuml;r den Fonds gibt es weder Bonus noch Malus.</p>
	{% endif %}

	<div class='overview_box_container'>

		<div id='bonus_riskless' class='overview_box'>
			<div class='box_header bund'>
				<h2>{{ 'Bonus' if treatment.shifter_riskless>=0 else 'Malus'}}</h2>
				<h3>auf die Bundesanleihe</h3>
			</div>
				{% if treatment.shifter_riskless!=0 %}
				<p class='number{{ ' bonus' if treatment.shifter_riskless>0}}{{ ' malus' if treatment.shifter_riskless<0}}'>{{treatment.shifter_riskless|abs|format_decimal}}</p>
				<p class='bottom'>Prozentpunkte</p>
				{% else %}
				<p class='number nothing}}'>&mdash;</p>
				{% endif %}
		</div>

		<div id='bonus_risky' class='overview_box'>
			<div class='box_header fund'>
				<h2>{{ 'Bonus' if treatment.shifter_risky>=0 else 'Malus'}}</h2>
				<h3>auf den Fonds</h3>
			</div>
				{% if treatment.shifter_risky!=0 %}
				<p class='number{{ ' bonus' if treatment.shifter_risky>0}}{{ ' malus' if treatment.shifter_risky<0}}'>{{treatment.shifter_risky|abs|format_decimal}}</p>
				<p class='bottom'>Prozentpunkte</p>
				{% else %}
				<p class='number nothing}}'>&mdash;</p>
				{% endif %}
		</div>

		<div id='endowment_illiquid' class='overview_box'>
			<div class='box_header euros'>
				<h2>Investitions- summe</h2>
			</div>
				<p class='number'>50.000</p>
				<p class='bottom'>Euro</p>
		</div>

		<div id='endowment_illiquid' class='overview_box'>
			<div class='box_header euros'>
				<h2>zusätzliche Zahlung</h2>
			</div>
				<p class='number'>{{ treatment.endowment_illiquid|format_number }}</p>
				<p class='bottom'>Euro</p>
		</div>

	</div>

	<p class='question'>Wie viel der {{ treatment.endowment_liquid|format_number }} EUR investieren Sie in die Bundesanleihe und wie viel in den Fonds?</p>
	<p class="note">Bitte achten Sie darauf, dass beide Betr&auml;ge ganze Zahlen sind und zusammen genau {{ treatment.endowment_liquid|format_number }} EUR ergeben.</p>

	<table class='form_table'>
		<tr>
			<td>{{form.inv_riskless.label.text}}</td>
			<td>{{form.inv_riskless(autocomplete="off",size=7,class='disablecopypaste')}} Euro</td>
		</tr>
		<tr>
			<td>{{form.inv_risky.label.text}}</td>
			<td>{{form.inv_risky(autocomplete="off",size=7,class='disablecopypaste')}} Euro</td>
		</tr>
	</table>
{% endblock %}