{% extends "base.html" %}

{% block instructions %}
	<p>Im Folgenden m&uuml;ssen Sie in {{ num_treatments}} Runden jeweils eine Investitionsentscheidung f&auml;llen. Alle Runden sind gleich aufgebaut. Eine der {{ num_treatments}} Runden wird am Ende des Experiments zuf&auml;llig ausgew&auml;hlt und Ihnen tats&auml;chlich ausbezahlt. Wie genau das passiert, dazu gleich gleich mehr.</p>

	<p>Sie haben in jeder Runde jeweils eine Summe Geld zur Verf&uuml;gung, die Sie zwischen zwei Geldanlagen aufteilen m&uuml;ssen. Au&szlig;erdem bekommen Sie jeweils einen zus&auml;tzlichen festen Geldbetrag, unabh&auml;ngig von Ihrer Entscheidung in dieser Runde.</p>

	<p>Eine der beiden Geldanlagen hat einen festen Zinssatz. Die andere Geldanlage hat einen Zinssatz, der von der Entwicklung am Aktienmarkt abh&auml;ngt. Dar&uuml;ber hinaus gibt es pro Runde auf jede der beiden Geldanlagen einen Bonus (das hei&szlig;t der Zinssatz wird um einen festen Betrag erh&ouml;ht).</p>

	<p>Die Geldanlage mit dem festen Zinssatz zahlt in jeder Runde {{riskless_rate}}% Zinsertrag zuz&uuml;glich des Bonus. Diese Geldanlage wird im weiteren Text &bdquo;Bundesanleihe&ldquo; genannt.<br />
	Die andere Geldanlage orientiert sich am Deutschen Aktien Index DAX, der die Entwicklung von 30 deutschen Gro&szlig;unternehmen zusammenfasst. Um die Verzinsung dieser Geldanlage festzustellen, benutzen wir historische DAX-Gewinne und DAX-Verluste der Jahre 1951 bis 2010, und addieren den entsprechenden Bonus hinzu. Der Computer w&auml;hlt zuf&auml;llig ein Jahr aus diesem Zeitraum aus und berechnet f&uuml;r dieses Jahr, was aus dem von Ihnen investierten Betrag geworden w&auml;re. Diese Geldanlage wird im weiteren Text &bdquo;Fonds&ldquo; genannt.</p>
{% endblock %}


