{% extends "base.html" %}

{% block instructions %}
<p>Die Gesamtauszahlung zahlen wir Ihnen f&uuml;r eine der {{ num_treatments}} Runden im kleineren Ma&szlig;stab aus. Das hei&szlig;t, der Computer w&auml;hlt am Ende des Experiments zuf&auml;llig eine der {{ num_treatments}} Runden aus. Dabei hat jede Runde die gleiche Wahrscheinlichkeit, ausgew&auml;hlt zu werden. Diese Runde wird Ihnen in bar ausbezahlt.</p>
<p>Zus&auml;tzlich zieht der Computer ebenso zuf&auml;llig und mit gleicher Wahrscheinlichkeit ein Jahr aus dem Zeitraum 1951 bis 2010. Der Gewinn oder Verlust des DAX in diesem Jahr wird dann herangezogen, um Ihre Auszahlung zu bestimmen.</p>

<p>F&uuml;r je 4000 Euro, die Sie in der Runde als Gesamtauszahlung bekommen, erhalten Sie 1 Euro in bar.</p>

<p>Zusammenfassend: Die Bundesanleihe wirft also eine Verzinsung von {{riskless_rate}}% zuz&uuml;glich des Bonus oder abz&uuml;glich des Malus ab, w&auml;hrend der Fonds f&uuml;r Ihre Auszahlung jeden der DAX-Gewinne und DAX-Verluste der Jahre 1951 bis 2010 zuz&uuml;glich des Bonus oder abz&uuml;glich des Malus erzielen kann.</p>
{% endblock %}