{% extends "base.html" %}

{% block custom_head %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='balls_and_bins.css') }}">
{% endblock %}

{% block instructions %}
	<p>Markieren Sie jetzt bitte die 20 K&auml;stchen so, dass Sie Ihre Einsch&auml;tzung der Wertver&auml;nderung des DAX im Zeitraum 1951 bis 2010 widerspiegeln.</p>
	<script>

	  // function to refresh the counters when a new brick is dropped into a slot
	  function refreshCounters(column) {
	    var numberoccupied = $('table#slots tr').children('td:nth-child('+(column+1)+')').filter('.occupado').length;
	    $("#expectations_dax_bin_"+(column+1)).val(numberoccupied);
	  };

	$(document).ready(function() {
	    $('form input[type="submit"]').bind('click',function(){

	      if($(this).val() == 'Zurück') {
	        return true;
	      }

	      var tablerows = $('table#slots tr');

	      var numOccupiedCells = $('table#slots tr td.occupado').length;
	      if(numOccupiedCells>20) {
			alert('Im Moment sind ' + numOccupiedCells + ' Felder aktiviert. Bitte aktivieren Sie genau 20 Felder!');
	        return false;
	      };

	      // go through the columns and check if they have been filled from the bottom
	      for (var i = 0; i <= 6; i++) {
	        var colcells = tablerows.children('td:nth-child('+(i+1)+')');

	        var occupiedcells = colcells.filter('.occupado');
	        var highest_occupied_cell = 20;
	        while(!(colcells.eq(20-highest_occupied_cell).hasClass('occupado')) & highest_occupied_cell>0) {
	          highest_occupied_cell--;
	        }

	        if (highest_occupied_cell>0 & highest_occupied_cell != occupiedcells.length) {
	          alert('Füllen Sie bitte die Felder von UNTEN nach OBEN auf!');
	          return false;
	        };
	      };

	      if(numOccupiedCells<20) {
	      	if(numOccupiedCells==1) {
	      		alert('Im Moment ist nur 1 Feld aktiviert. Bitte aktivieren Sie genau 20 Felder!');
	      	} else {
				alert('Im Moment sind nur ' + numOccupiedCells + ' Felder aktiviert. Bitte aktivieren Sie genau 20 Felder!');
	      	}
	        return false
	      };
	    });

	    $('table#slots').click(function(e) {
	      // find the cell that was clicked
	      var clicked = $(e.target).filter('td');
	      if(clicked.length==0) {return false;};

	      var tablerows = $('table#slots tr');

	      // find row and column that cell was in
	      var clickrow = tablerows.index(clicked.parent());
	      var clickcol = tablerows.eq(clickrow).children().index(clicked);

	      if(clicked.hasClass('occupado')) {
	        clicked.removeClass('occupado');
	      }
	      else {
	        clicked.addClass('occupado');
	      }
	      refreshCounters(clickcol);
	    });

	    //mark as many cells occupied in each column as were previously occupied
	    var tablerows = $('table#slots tr');
	    for(i=1;i<=7;i++) {
	      var colcells = tablerows.children('td:nth-child('+(i)+')');
	      var numoccupied = parseInt($("#expectations_dax_bin_"+i).val());

	      if(numoccupied!=0) {
	        occupiedcells = colcells.slice(-numoccupied);
	        occupiedcells.addClass('occupado');
	      };
	      refreshCounters(i-1);
	    };
	  });
	  
	  </script>


	<p><i>F&uuml;llen Sie die K&auml;stchen immer, ohne L&uuml;cken, von UNTEN nach OBEN auf!</i></p>

	<table id="slots">
	  <tr>
	    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	  </tr>
	  <tr>
	    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	  </tr>
	  <tr>
	    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	  </tr>
	  <tr>
	    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	  </tr>
	  <tr>
	    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	  </tr>
	  <tr>
	    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	  </tr>
	  <tr>
	    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	  </tr>
	  <tr>
	    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	  </tr>
	  <tr>
	    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	  </tr>
	  <tr>
	    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	  </tr>
	  <tr>
	    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	  </tr>
	  <tr>
	    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	  </tr>
	  <tr>
	    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	  </tr>
	  <tr>
	    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	  </tr>
	  <tr>
	    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	  </tr>
	  <tr>
	    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	  </tr>
	  <tr>
	    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	  </tr>
	  <tr>
	    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	  </tr>
	  <tr>
	    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	  </tr>
	  <tr>
	    <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	  </tr>
	  <tr>
	    <th>Verlust zwischen <br /> 60% und 90%</th>
	    <th>Verlust zwischen <br /> 30% und 60%</th>
	    <th>Verlust zwischen <br /> 0% und 30%</th>
	    <th>Gewinn zwischen <br /> 0% und 30%</th>
	    <th>Gewinn zwischen <br /> 30% und 60%</th>
	    <th>Gewinn zwischen <br /> 60% und 90%</th>
	    <th>Gewinn zwischen <br /> 90% und 120%</th>
	  </tr>
	</table>

{{form.expectations_dax_bin_1}}
{{form.expectations_dax_bin_2}}
{{form.expectations_dax_bin_3}}
{{form.expectations_dax_bin_4}}
{{form.expectations_dax_bin_5}}
{{form.expectations_dax_bin_6}}
{{form.expectations_dax_bin_7}}
{{form.hidden_tag()}}
{% endblock %}