{% extends "base.html" %}

{% block instructions %}
<p>Ein alternatives Beispiel k&ouml;nnte wie folgt aussehen. Wieder haben Sie 50.000 Euro, die Sie auf Bundesanleihe und Fonds aufteilen m&uuml;ssen, dieses Mal aber eine Auszahlung von 16.000 Euro, die Sie unabh&auml;ngig von Ihrer Entscheidung bekommen. Zus&auml;tzliche erhalten Sie auf den Zins <i>des Fonds</i> einen Bonus von 2 Prozentpunkten.</p>

<p>Konkret bedeutet das in diesem Beispiel, dass Sie f&uuml;r den Betrag, den Sie in die Bundesanleihe investieren, den &uuml;blichen Zins von {{riskless_rate}}% erhalten. Sie machen also f&uuml;r jede 100 Euro, die Sie in die Bundesanleihe investiert haben, einen Gewinn von {{riskless_rate}} Euro, und bekommen {{100+riskless_rate}} Euro als verzinsten Betrag ausbezahlt.<br />
Die Verzinsung des in den Fonds investierten Betrags wird in diesem Beispiel wie folgt bestimmt: Sie ist die realisierte Kursentwicklung des DAX in einem zuf&auml;llig gezogenen Jahr (aus 1951 bis 2010) plus der Bonus von 2%.</p>
<ul>
	<li>Hat also der DAX zum Beispiel in dem zuf&auml;llig gezogenen Jahr einen Gewinn von 3,5% gemacht, erhalten Sie auf den Betrag, den Sie in den Fonds investiert haben, eine Verzinsung von 5,5%. Sie machen also f&uuml;r jede 100 Euro, die Sie in den Fonds investiert haben, einen Gewinn von 5,50 Euro, und bekommen am Ende 105,50 Euro ausgezahlt.</li>
	<li>Hat der DAX dagegen im zuf&auml;llig gezogenen Jahr einen Gewinn von 12% gemacht, erhalten Sie auf Ihren investierten Betrag eine Verzinsung von 14% (mit 14 Euro Auszahlung pro 100 Euro Investition).</li>
	<li>Hat der DAX im zuf&auml;llig gezogenen Jahr einen Verlust von 12% gemacht, so erhalten Sie eine negative Verzinsung, die aber wegen dem Bonus um 2% geringer ist, also ein Verlust von 10%. In diesem Fall w&uuml;rden Sie f&uuml;r jede 100 Euro Investition eine Auszahlung von 90 Euro bekommen.</li>
</ul>

<p>Ihre Gesamtauszahlung ergibt sich in diesem Beispiel als 16.000 (die feste Auszahlung) plus die verzinste Investition in die Bundesanleihe plus die verzinste Investition in den Fonds.</p>

<p>(Auch dieses Beispiel ist willk&uuml;rlich und sagt nichts &uuml;ber die tats&auml;chliche Entwicklung des DAX oder &uuml;ber andere unbekannten Gr&ouml;&szlig;en aus.)</p>
{% endblock %}